<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="options.css" />
</head>
<body>
  <h1 data-localize="__MSG_extensionName__">Password Leak Monitor</h1>
  <hr />
  <form id="options-form">
    <fieldset>
      <div class="form-group row">
        <label for="disableNotifications" class="col-sm-2 col-form-label" data-localize="__MSG_optionsDisableNotifications__">Disable Notifications</label>
        <div class="col-sm-10">
          <input id="disableNotifications" name="disableNotifications" type="checkbox" class="form-check-input">
          <small class="form-text text-muted" data-localize="__MSG_optionsDisableNotificationsHelp__">This will completely disable notifications, except the toolbar badge</small>
        </div>
      </div>

      <!-- <div class="form-group row">
        <label for="disableAutocheckOnBlur" class="col-sm-2 col-form-label" data-localize="__MSG_optionsDisableAutocheckOnBlur__">Disable Autocheck on Blur</label>
        <div class="col-sm-10">
          <input id="disableAutocheckOnBlur" name="disableAutocheckOnBlur" type="checkbox" class="form-check-input">
          <small class="form-text text-muted" data-localize="__MSG_optionsDisableAutocheckOnBlurHelp__">This will prevent the extension from checking your password after you leave the input field</small>
        </div>
      </div> -->

      <div class="form-group row">
        <label for="disableAutocheckOnIdle" class="col-sm-2 col-form-label" data-localize="__MSG_optionsDisableAutocheckOnIdle__">Disable Autocheck on Idle</label>
        <div class="col-sm-10">
          <input id="disableAutocheckOnIdle" name="disableAutocheckOnIdle" type="checkbox" class="form-check-input">
          <small class="form-text text-muted" data-localize="__MSG_optionsDisableAutocheckOnIdleHelp__">This will prevent the extension from checking your password after you stop typing</small>
        </div>
      </div>

      <div class="form-group row">
        <label for="delayAutocheckOnIdle" class="col-sm-2 col-form-label" data-localize="__MSG_optionsDelayAutocheckOnIdle__">Autocheck on Idle Delay</label>
        <div class="col-sm-10">
          <input id="delayAutocheckOnIdle" name="delayAutocheckOnIdle" type="number" min="500">
          <small class="form-text text-muted" data-localize="__MSG_optionsDelayAutocheckOnIdleHelp__">Number of milliseconds to wait before autochecking after you stop typing</small>
        </div>
      </div>
    </fieldset>
    <br />
    <button class="btn btn-primary btn-lg btn-block" data-localize="__MSG_optionsSaveButton__">Save</button>
  </form>

  <script src="options.js"></script>
</body>
</html>