<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="options.css" />
</head>
<body>
  <h1 data-localize="__MSG_extensionName__"></h1>
  <hr />
  <form id="options-form">
    <fieldset>
      <legend>Extension Options</legend>

      <input id="dummyOption" name="dummyOption" type="checkbox" checked />
      <label for="dummyOption">This is a dummy option</label>
    </fieldset>
    <br />
    <button>Save</button>
  </form>

  <script src="options.js"></script>
</body>
</html>