<!DOCTYPE html>
<html>
  <head>
    <title>@</title>
  </head>
  <body>
    <div class="container">
      <div class="field">
        <!-- <label>Disable on Domains (CSV):</label>
        <br />
        <textarea id="disabled-domains"></textarea> -->
      </div>
      
      <div class="field">
        <div class="half">
          <div class="response"></div>
        </div>
        <div class="half">
          <!-- <button class="save-options">Save</button> -->
        </div>
      </div>
    </div>
  </body>
</html>
